<nav class="navWrapper">
  <div class="site-title">
    <a href="/"><h1>OATH</h1></a>
  </div>
  <div class="navListWrap">
    <ul class="navList">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
  </div>
</nav>
