<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <p>this is the about page</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet
        repellat itaque molestiae laudantium, a minima deserunt corporis ducimus
        consectetur autem corrupti libero fugiat nihil similique. Veritatis modi
        sequi ipsum expedita.
      </p>
    </main>
  </body>
</html>
