<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <main>
      <div>
        <h1>Uh Oh...</h1>
        <p>
          Looks like something went wrong....you might need to sign in.
          <a href="/auth">Click here</a> to sign in using GitHub
        </p>
      </div>
    </main>
  </body>
</html>
